<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">   <img alt="Brand" src="images/yeoman.png"> {{title}}    </a>
      </div>
   <div class="row">
     <div class="col-md-3 col-lg-offset-1">
       <h3> {{title}}</h3>
       <p>{{subtitle}}</p>
     </div>
     <div class="col-md-6">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
    </ul>

   </div>
   </div>
  </div>
</nav>





